@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* You can add global styles to this file, and also import other style files */
/*body {
  background: url('http://www.fondos7.net/recorte/3d34b1be3045bda0cd57c2542aaf8840/cancha-verde-de-futbol_1280x800.jpg' );
      background-repeat: no-repeat;
      background-position: center center;
        background-size: cover;
  background-attachment: fixed;

}
*/
